doctype html
html(lang="en")
    include _includes/_head.pug
    body.about    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='/')
                            img.pure-img(src='/assets/images/mt-logo-2016.png' alt='Logo Image for M Tuttle')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link.pure-menu-selected(href='#') About
                            li.pure-menu-item
                                a.pure-menu-link(href='/projects/') Work
                            li.pure-menu-item
                                a.pure-menu-link(href='/#contact') Contact
                                
        main#main
            .page-header
                .page-title                    
                    .content
                        h1 About Me!
                .content-container
                    .right-brain
                        img.mobile(src='/assets/images/right-brain.png' alt='Right brain trains image')
                        img.tablet(src='/assets/images/right-brain-tablet.png' alt='Right brain trains image')
                    .left-brain
                        img.mobile(src='/assets/images/left-brain.png' alt='Left brain trains image')
                        img.tablet(src='/assets/images/left-brain-tablet.png' alt='Left brain trains image')
                    #its-me
                        .look-around
                            #me-container.img-cache
                                .center
                                img.pure-img.mobile(src='/assets/images/look-around-gray.png' alt='M Tuttle looks around image')
                                img#me.pure-img.tablet(src='/assets/images/look-around-gray.png' alt='M Tuttle looks around image')
            .page-content
                .my-info.pure-g.layout
                    .pure-u-1.info-single
                        h2 Imaginative
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 Future-Focused
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 UX Design / Responsive Design
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 Adobe & Sketch
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 Planned & Precise
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 HTML / CSS / JavaScript
                        p Somthing here.
                    .pure-u-1.info-single
                        h2 English / Japanese
                        p Somthing here.
        #pre-footer
            .content-container
                a.more(href='http://linkedin.com/in/madelynntuttle' target='_blank') View My Resume on LinkedIn
                    
        include _includes/_footer.pug
