doctype html
html(lang="en")
    include _includes/_head.pug
    body.about    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='/')
                            img.pure-img(src='/assets/images/mt-logo-2016.png' alt='Logo Image for M Tuttle')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link.pure-menu-selected(href='#') About
                            li.pure-menu-item
                                a.pure-menu-link(href='/projects/') Work
                            li.pure-menu-item
                                a.pure-menu-link(href='/#contact') Contact
                                
        main#main
            .page-header
                .page-title                    
                    .content
                        h1 About Me!
                .content-container
                    .right-brain
                        img.mobile(src='/assets/images/right-brain.png' alt='Right brain trains image')
                        img.tablet(src='/assets/images/right-brain-tablet.png' alt='Right brain trains image')
                    .left-brain
                        img.mobile(src='/assets/images/left-brain.png' alt='Left brain trains image')
                        img.tablet(src='/assets/images/left-brain-tablet.png' alt='Left brain trains image')
                    #its-me
                        .look-around
                            #me-container.img-cache
                                .center
                                img.pure-img.mobile(src='/assets/images/look-around-gray.png' alt='M Tuttle looks around image')
                                img#me.pure-img.tablet(src='/assets/images/look-around-gray.png' alt='M Tuttle looks around image')
            .page-content
                .my-info.pure-g.layout
                    .pure-u-1.pure-u-md-2-3
                        p As a web designer I unite my creative right-brain concepts with my focused left-brain solutions to create smart, good-looking websites. I thrive on learning new things and my favorite stage of any project is research and development. I am a thoughtful, dedicated, and driven person.
                        p I love a good challenge which is why I moved away from the United States to pursue an expat lifestyle in Japan. It has been a completely life-changing experience, but it’s time to head home!
                        p I am currently seeking employment in the Jacksonville, Florida area. I am available to start at the end of November 2016.
                    .pure-u-1.pure-u-md-1-3
                        h2 Specialized Skills
                        ul
                            li Design Software
                            li Photoshop, Illustrator, InDesign, Sketch
                        ul
                            li Web Expertise
                            li Responsive Design, UI & UX Design, Mobile-First Approach
                        ul
                            li Web Technologies
                            li HTML, CSS, JavaScript, PHP, WordPress, ExpressionEngine, Pug/Jade, SASS
                        ul
                            li Development Tools
                            li Git/GitHub, Gulp
                        ul
                            li Foreign Language
                            li Japanese    
                            
        #pre-footer
            .content-container
                a.more(href='http://linkedin.com/in/madelynntuttle' target='_blank') View My Resume on LinkedIn
                    
        include _includes/_footer.pug
