doctype html
html
    include _includes/_head.pug
    body    
        #header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='#')
                            img.pure-img(src='/assets/images/mt-logo-2016.png')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link(href='#') About
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Portfolio
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Contact
                                
        
        #top
            img.shapes(src='/assets/images/shapes-v2.png')
            img#shape1.shape.left(src='/assets/images/shape1.png')
            img#shape2.shape(src='/assets/images/shape2.png')            
            img#shape3.shape.left(src='/assets/images/shape3.png')
            img#shape4.shape(src='/assets/images/shape4.png')
            img#shape5.shape.left(src='/assets/images/shape5.png')
            img#shape6.shape(src='/assets/images/shape6.png')

        #content
            h1 Under Construction
            p.
                Can't wait? View my resume on #[a(href='http://linkedin.com/in/madelynntuttle') LinkedIn] and my work on #[a(href='https://www.behance.net/madelynntuttle') Behance]!
            .push

        footer#footer
            p Madelynn Tuttle

        script(src='/assets/scripts/main.js')
