doctype html
html
    head
        title Madelynn Tuttle — Website Under Construction
        link(href='/assets/styles/main.css', rel='stylesheet')
        link(href='//fast.fonts.net/cssapi/25d46fcf-158e-4d50-9851-aee033672aa3.css', rel='stylesheet')        
        link(href='https://fonts.googleapis.com/css?family=Pompiere', rel='stylesheet')

    body
        #top
            img(src='/assets/images/shapes.png')
        
        #content
            #logo-container
                img#logo(src='/assets/images/mt-logo-2016.png')
            h1 Under Construction
            p.
                Can't wait? View my resume on #[a(href='http://linkedin.com/in/madelynntuttle') LinkedIn] and my work on #[a(href='https://www.behance.net/madelynntuttle') Behance]!
            .push
        
        footer#footer
            p Madelynn Tuttle
            
        script.
            var logoFiles = ["/assets/images/logo1.png", "/assets/images/logo2.png", "/assets/images/logo3.png", "/assets/images/logo4.png", "/assets/images/logo5.png", "/assets/images/logo6.png", "/assets/images/logo7.png", "/assets/images/logo8.png", "/assets/images/logo9.png", "/assets/images/logo10.png"];
            
            var randomNumberPrev = 0;
            
            var logoTimer = function () {
                var randomNumber = Math.floor(Math.random() * 10); 
                if (randomNumber === randomNumberPrev) {
                    randomNumber = (randomNumber + 1) % 10;
                }
                var t = logoFiles[randomNumber];
                
                document.getElementById("logo").src = t;
                randomNumberPrev = randomNumber;
            };
            
            var changeLogo = setInterval(logoTimer, 1000);
