doctype html
html
    head
        title Madelynn Tuttle — Website Under Construction
        link(href='/assets/styles/main.css', rel='stylesheet')
    body
        #content
            #logo
                img(src='/assets/images/mt-logo-2016.png')
            h1 Under Construction
            p.
                Can't wait? View my resume on #[a(href='google.com') LinkedIn] and my work on #[a(href='google.com') Behance]!
        footer#footer
            p Madelynn Tuttle