doctype html
html(lang="en")
    include _includes/_head.pug
    body.index    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='#')
                            img.pure-img(src='/assets/images/mt-logo-2016.png' alt='Logo Image for M Tuttle')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link(href='about.html') About
                            li.pure-menu-item
                                a.pure-menu-link(href='projects/') Work
                            li.pure-menu-item
                                a.pure-menu-link(href='#contact') Contact
                                
        main#main
            .page-header
                .content-container.pure-g.layout
                    .pure-u-1.pure-u-md-2-3
                        p Bringing the pieces together through [focused] design.
                #shapes-container
                    img.shapes(src='/assets/images/shapes.png' alt='Colorful shapes image')
                    
            .page-content
                .intro.pure-g.layout                            
                    .pure-u-1.mobile
                        .circle-container
                            img.circle.pure-img(src='/assets/images/watermelon-me.png' alt='M Tuttle with watermelon image')
                    .pure-u-1.pure-u-md-7-12.pure-u-lg-7-12
                        h2 Hello!
                        p My name is Madelynn Tuttle. I am a goal-oriented, ambitious, UI/UX designer from the United States. I’m currently based in beautiful Japan, but I’m headed back State-side this Fall.
                        a.more(href='about.html') More About Me
                    .pure-u-1.pure-u-md-5-12.pure-u-lg-5-12.tablet
                        .circle-container
                            img.circle.pure-img(src='/assets/images/watermelon-me.png' alt='M Tuttle with watermelon image')    
                .projects.pure-g.layout
                    .pure-u-1.pure-u-md-1
                        h2 Selected Projects
                    .pure-u-1.pure-u-md-1-3
                        a.featured(href='projects/ymca.html'): img.pure-img(src='/assets/images/ymca-thumb-home.png' alt='YMCA thumbnail image')
                    .pure-u-1.pure-u-md-1-3.middle
                        a.featured(href='projects/christ-episcopal.html'): img.pure-img(src='/assets/images/cepc-thumb-home.png' alt='CEPC thumbnail image')
                    .pure-u-1.pure-u-md-1-3
                        a.featured(href='projects/abc-english-school.html'): img.pure-img(src='/assets/images/abc-thumb-home.png' alt='ABC thumbnail image')
                    .pure-u-1.pure-u-md-1
                        a.more(href='projects/') More Projects
                .contact.pure-g.layout#contact
                    .pure-u-1.pure-u-md-1
                        h2 Contact
                    .pure-u-1.pure-u-md-1
                        a.email(href='mailto:hello@madelynntuttle.com', target='_blank') Hello[at]MadelynnTuttle.com
                    .pure-u-1.pure-u-md-1#map
                        .japan.pure-u-1.pure-u-md-1-2
                            p.strong Now
                            p.location Tokyo, Japan
                        .usa.pure-u-1.pure-u-md-1-2
                            p.strong Fall 2016
                            p.location Jacksonville, Florida, USA
                        .map-container
                            img.pure-img.tablet(src='/assets/images/map-tablet-700-full.gif' alt='Japan and US map image')
        
        include _includes/_footer.pug
