doctype html
html
    head
        title Madelynn Tuttle — Website Under Construction
        link(href='/assets/styles/main.css', rel='stylesheet')
        link(href='//fast.fonts.net/cssapi/25d46fcf-158e-4d50-9851-aee033672aa3.css', rel='stylesheet')        
        link(href='https://fonts.googleapis.com/css?family=Pompiere', rel='stylesheet')

    body
        #top
            img.shapes(src='/assets/images/shapes-v2.png')
            img#shape1.shape.left(src='/assets/images/shape1.png')
            img#shape2.shape(src='/assets/images/shape2.png')            
            img#shape3.shape.left(src='/assets/images/shape3.png')
            img#shape4.shape(src='/assets/images/shape4.png')
            img#shape5.shape.left(src='/assets/images/shape5.png')
            img#shape6.shape(src='/assets/images/shape6.png')
        
        #content
            #logo-container
                img#logo(src='/assets/images/mt-logo-2016.png')
            h1 Under Construction
            p.
                Can't wait? View my resume on #[a(href='http://linkedin.com/in/madelynntuttle') LinkedIn] and my work on #[a(href='https://www.behance.net/madelynntuttle') Behance]!
            .push
        
        footer#footer
            p Madelynn Tuttle
            
        script(src='/assets/scripts/main.js')
