.about .page-header {
    position: static;
    margin-bottom: 0;
    
    /* Page title */
    .page-title {
        background: $c;
        margin-bottom: $base-space*2;
        
        /* clipped shape */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        min-height: 18rem;
        width: 100%;
            
        // border method
        /*
        height: 120px;
        width: 100%;
        border-top: 60px solid #ec3504;
        border-bottom: 60px solid transparent;
        border-left: 1024px solid #ec3504;
        border-right: 0 solid transparent;
        */
    
        .content {
            max-width: 92rem;
            margin: 0 auto;
        }
    }
    
    /* Look Around Image Area */
    .content-container {
        position: static;
        max-width: 92rem;
        margin: 0 auto;

        div {
            background: transparent;
            text-align: center;
            margin: $base-space 0;
        }
        
        #its-me {
            position: relative;
            z-index: 20;
            height: 202px;
            width: 280px;
            margin: 0 auto;

            .look-around {
                position: absolute;
                height: 202px;
                width: 280px;
                overflow: hidden;
                bottom: 0;
                margin: 0;
                
                .img-cache {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    margin: 0;
                
                    img {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }                    
                }
            
            }    
        }
    }
}

.about .page-content {
    .my-info {
        background: $light-gray;
        padding-bottom: $base-space*6;
        
        h2 {
            color: $c;
        }
    }
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
    .about {    
        .page-title h1 {
            font-size: 7.2rem;
            margin: 0 0 0 16rem;
            padding: 8rem 0 6rem;
        }

        .page-header .content-container {    
            div {
                //margin: 0;
            }

            .tablet {
                display: inline-block;
            }
            
            .right-brain {
                width: 50%;
                float: right;
                
                img {
                    max-width: 80%;
                }
            }

            .left-brain {
                width: 50%;
                float: left;
                
                img {
                    max-width: 70%;
                }
            }
            
            #its-me {
                clear: both;
                height: 295px;
                width: 415px;

                .look-around {
                    height: 295px;
                    width: 415px;
                }    
            }
        }
    }
}

/* ----------------------------------------------
** ----- Desktop and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 64em) {
    .about {
        .page-header .content-container {    
            
            .right-brain {
                width: 50%;
                float: right;
                
                img {
                    max-width: 100%;
                }
            }

            .left-brain {
                width: 50%;
                float: left;
                
                img {
                    max-width: 100%;
                }
            }
        }
        
        .my-info {
            padding-top: 3rem;

            &.layout > div {
                padding: 0 7rem;
            }
        }
    }
}