.about .page-header {
    position: static;
    margin-bottom: $base-space;
    
    /* Page title */
    .page-title {
        background: $c;
        margin-bottom: $base-space*2;
        
        /* clipped shape */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        min-height: 18rem;
        width: 100%;
            
        // border method
        /*
        height: 120px;
        width: 100%;
        border-top: 60px solid #ec3504;
        border-bottom: 60px solid transparent;
        border-left: 1024px solid #ec3504;
        border-right: 0 solid transparent;
        */
    
        .content {
            max-width: 92rem;
            margin: 0 auto;
        }
    }
    
    .content-container {
        position: static;
        max-width: 92rem;
        margin: 0 auto;

        div {
            background: transparent;
            text-align: center;
            margin: 0;
        }
        
        .right-brain {
            width: 50%;
            float: right;
        }
        
        .left-brain {
            width: 50%;
            float: left;
        }
        
        .look-around {
            clear: both;
        }
    }
}

.about .page-content {
    .my-info {
        background: $light-gray;
        padding-bottom: $base-space*6;
        
        h2 {
            color: $c;
        }
    }
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
.page-title h1 {
    font-size: 7.2rem;
    margin: 0 0 0 16rem;
    padding: 8rem 0 6rem;
}
}

/* ----------------------------------------------
** ----- Desktop and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 64em) {
    .my-info {
        padding-top: 3rem;
        
        &.layout > div {
            padding: 0 7rem;
        }
    }
}