.about .page-header {
    position: static;
    margin-bottom: $base-space;
    
    /* Page title */
    .page-title {
        background: $c;
        margin-bottom: $base-space*2;
        
        /* clipped shape */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        min-height: 18rem;
        width: 100%;
            
        // border method
        /*
        height: 120px;
        width: 100%;
        border-top: 60px solid #ec3504;
        border-bottom: 60px solid transparent;
        border-left: 1024px solid #ec3504;
        border-right: 0 solid transparent;
        */
        
        .content {
            padding: ($base-space*4) $base-space ($base-space*2);
        }
    }
    
    .content-container {
        position: static;

        div {
            background: transparent;
            color: $w;
            font-size: 2rem;
            line-height: 2.7rem;
            letter-spacing: .5px;
            font-weight: $main-font-bold;
            text-align: center;
            margin: $base-space auto;
            max-width: 28rem;
        }
    }
}

.about .page-content {
    .my-info {
        background: $light-gray;
        padding-bottom: $base-space*6;
        
        h2 {
            color: $c;
        }
    }
}