/* ----- Global Variables ----- */

/* colors */
$w: #fefefe;
$c: #00EBE3;
$m: #FF0094;
$y: #FFFF00;
$k: #2d2d2d;
$light-gray: #EEEEEE;
$medium-gray: #9B9B9B;
$accent: #9013FE;

/* fonts */
$main-font: 'Avenir Next W01', 'Avenir Next', Helvetica, sans-serif;
$main-font-normal: 500;
$main-font-bold: 800;
$main-font-ls-open: .125rem;

$accent-font: 'Pompiere', sans-serif;
$accent-font-bold: 700;

$accent-font2: 'Daft Brush W01', 'Daft Brush', sans-serif;

$nav-size: 1.4rem;
$footer-size: 1rem;

/* ----- Global Mixins ----- */

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}
