@import "vendor/pure/pure";
@import "vendor/pure/grids-responsive";

@import "_settings";
@import "_components/_header";




/* ----- Animation Keyframs ----- */
/* shapes wobble */
/* Chrome, Safari, Opera */
@-webkit-keyframes rotate-right {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(2deg);
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);
    }
}
@-webkit-keyframes rotate-left {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(-1deg);
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);
    }
}

/* Standard syntax */ 
@keyframes rotate-right {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(2deg);
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);
    }
}
@keyframes rotate-left {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(-1deg);
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);
    }
}

/* ----------------------------------------------
** ----- All Styles (Mobile-First Approach) ----- 
** ----------------------------------------------*/
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $main-font;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $k;
    
    /* sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#top {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    
    img {
        max-width: 100%;
        min-height: 80px;
    }
    
    /* establish vertical space with hidden img*/
    img.shapes {
        visibility: hidden;
    }
    
    img.shape {
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        min-height: 110px;
    
        /* wobble webkit annimation - rotate-right */
        -webkit-animation-name: rotate-right;
        -webkit-animation-duration: 8s;
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-timing-function: linear; 
        
        /* wobble regular annimation  - rotate-right */
        animation-name: rotate-right;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        // animation-timing-function: cubic-bezier(.46, .52, .52, .57);  
        animation-timing-function: linear;

        
        .left {
            /* wobble webkit annimation  - rotate-left */
            -webkit-animation-name: rotate-left;
            -webkit-animation-duration: 4s;
            
            /* wobble regular annimation  - rotate-left */
            animation-name: rotate-left;
            animation-duration: 4s;
        }
    }
    
    /* adjust transform-orgin for each shape image */
    img#shape1 {
        -ms-transform-origin: 10% 50%; /* IE 9 */
        -webkit-transform-origin: 10% 50%; /* Chrome, Safari, Opera */
        transform-origin: 10% 50%;
        -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
        animation-duration: 6s;
    }
    
    img#shape2 {
        -ms-transform-origin: 20% 50%; /* IE 9 */
        -webkit-transform-origin: 20% 50%; /* Chrome, Safari, Opera */
        transform-origin: 20% 50%;
    }
    
    img#shape3 {
        -ms-transform-origin: 40% 50%; /* IE 9 */
        -webkit-transform-origin: 40% 50%; /* Chrome, Safari, Opera */
        transform-origin: 40% 50%;
    }
    
    img#shape4 {
        -ms-transform-origin: 60% 50%; /* IE 9 */
        -webkit-transform-origin: 60% 50%; /* Chrome, Safari, Opera */
        transform-origin: 60% 50%;
    }
    
    img#shape5 {
        -ms-transform-origin: 75% 50%; /* IE 9 */
        -webkit-transform-origin: 75% 50%; /* Chrome, Safari, Opera */
        transform-origin: 75% 50%;
    }
    
    img#shape6 {
        -ms-transform-origin: 90% 50%; /* IE 9 */
        -webkit-transform-origin: 90% 50%; /* Chrome, Safari, Opera */
        transform-origin: 90% 50%;
    }
}

#content, #footer {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#content {
    /* sticky footer */
    flex: 1;
    
    #logo-container {
        margin: 80px auto 80px;
        width: 60%;
        
        img {
            width: 100%;
        }
    }

    h1 {
        font-size: 5.4rem;
        line-height: 1;
        font-weight: normal;
        font-family: $accent-font;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 1.8rem;
        margin-bottom: 80px;
        
    }
    
    a {
        color: $accent;
        text-decoration: none;
        padding: 5px 0 0;
        
        &:hover, &:active {
            background: $accent;
            color: $w;
        }
    }
}

#footer {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* ----------------------------------------------
** ----- Desktop Styles ----- 
** ----------------------------------------------*/
@media only screen and (min-width: 768px) {

    #content {
        #logo-container {
            max-width: 200px;
            margin: 80px auto 80px;
        }
        
        h1 {
            font-size: 7.2rem;
        }
        
        p {
            font-size: 2.4rem;
        }
    }
}

