$w: #fefefe;
$c: #00EBE3;
$m: #FF0094;
$y: #FFFF00;
$k: #2d2d2d;
$light-gray: #EEEEEE;
$medium-gray: #9B9B9B;
$accent: #9013FE;

@keyframes rotate-right {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(2deg);;
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);;
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg) translateX(1.5px) rotate(0deg) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(1.5px) rotate(-180deg) rotate(-1deg);;
    }
    100% {
        transform: rotate(360deg) translateX(1.5px) rotate(-360deg) rotate(0deg);;
    }
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Avenir Next W01', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $k;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#top {
    position: relative;
    overflow: hidden;
    //max-width: 1080px;
    margin: 0 auto;
    
    img {
        max-width: 100%;
        min-height: 80px;
    }
    
    img.shapes {
        visibility: hidden;
    }
    
    img.shape {
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        min-height: 110px;
    
        /* Standard syntax */
        animation-name: rotate-right;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.46, .52, .52, .57);
    }
    
    img#shape1 {
        transform-origin: 10% 50%;
        animation-name: rotate-left;
        animation-duration: 4.5s;
    }
    
    img#shape2 {
        transform-origin: 20% 50%;
    }
    
    img#shape3 {
        transform-origin: 40% 50%;
        animation-name: rotate-left;
        animation-duration: 4.5s;
    }
    
    img#shape4 {
        transform-origin: 60% 50%;
    }
    
    img#shape5 {
        transform-origin: 75% 50%;
        animation-name: rotate-left;
        animation-duration: 4.5s;
    }
    
    img#shape6 {
        transform-origin: 90% 50%;
    }
}

#content, #footer {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#content {
    flex: 1;
    
    #logo-container {
        margin: 80px auto 80px;
        width: 60%;
        
        img {
            width: 100%;
        }
    }

    h1 {
        font-size: 5.4rem;
        line-height: 1;
        font-weight: normal;
        font-family: 'Pompiere', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 1.8rem;
        margin-bottom: 80px;
        
    }
    
    a {
        color: $accent;
        text-decoration: none;
        padding: 5px 0 0;
        
        &:hover, &:active {
            background: $accent;
            color: $w;
        }
    }
}

#footer {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {

    #content {
        #logo-container {
            max-width: 200px;
            margin: 80px auto 80px;
        }
        
        h1 {
            font-size: 7.2rem;
        }
        
        p {
            font-size: 2.4rem;
        }
    }
}

