#pre-footer {
    background: $accent;
    margin-top: -8rem;
    padding: ($base-space*3) 0 ($base-space*2);
    
    /* clipped shape */
    -webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    width: 100%;
    
    a.more {
        color: $w;
        margin: 0;
        font-size: 2.4rem;
        line-height: 1.125;
        width: 50%;
        margin-left: $base-space;
    }
}

#footer {
    height: 8rem;
    background-color: $k;
    color: $w;
    font-size: $footer-size;
    font-weight: $main-font-bold;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    
    p {
        margin: 0;
        display: inline;
    }
    
    span {
        @include vertical-align();
    }
    
    img {
        padding: 0 1rem;
        max-width: 5rem;
        @include vertical-align();
    }
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
    #footer {
        img {
            padding: 0 3rem;
        }        
    }
}