#pre-footer {
    background: $accent;
    margin-top: -8rem;
    padding: ($base-space*3) 0 ($base-space*2);
    
    /* clipped shape */
    -webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    width: 100%;
    
    .content-container {
        width: 75%;
        
        a.more {
            color: $w;
            margin: 0;
            font-size: 2.4rem;
            line-height: 1.125;
            margin-left: $base-space;

            &:hover, &:active {
                color: $k;
            }
        }
    }
}

#footer {
    height: 8rem;
    background-color: $k;
    color: $w;
    font-size: $footer-size;
    font-weight: $main-font-bold;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    
    p {
        margin: 0;
        display: inline;
        margin-left: -1rem;
    }
    
    span {
        @include vertical-align();
    }
    
    img {
        padding: 0 1rem;
        max-width: 5rem;
        @include vertical-align();
    }
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
    #pre-footer {
        .content-container {
            width: 90%;
            
            a.more {
                margin-right: $base-space;
            }   
        }  
    }
    
    #footer {
        p {
            margin-left: 0;
        }
        
        img {
            padding: 0 3rem;
        }        
    }
}