html {
    font-size: 62.5%;
}

body, .pure-g [class*="pure-u"] {
    margin: 0;
    font-family: $main-font;
    font-weight: $main-font-normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $k;
}

a {
    text-decoration: none;
}

.tablet {
    display: none;
}

/* Add gutters to grid system */
.layout {
    width: 100%;
    max-width: 92rem;
    margin: 0 auto;
}

.layout > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2rem;
}

/* Sitewide fonts */
/* Page title */
.page-title h1 {
    font-family: $accent-font;
    text-transform: uppercase;
    color: $w;
    font-size: 4.8rem;
    line-height: 1;
    margin: 0;
    padding: ($base-space*4) $base-space ($base-space*2);
}

.page-content h2 {
    font-family: $accent-font2;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 1;
    margin: ($base-space*2) 0 $base-space;
}

a.more {
    font-family: $accent-font2;
    font-size: 1.8rem;
    letter-spacing: 1px;
    display: inline-block;
    
    &:hover, &:active {
        color: $accent;
    }
}

/* Circle img with black moving background */
.circle-container {
    border-radius: 50%;
    max-width: 100%;
    background: $k;
    padding: 1rem;
}

.circle {
    border-radius: 50%;
    width: 100%;
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
    .mobile {
        display: none;
    }
    
    .tablet {
        display: block;
    }
    
    .page-title h1 {
        font-size: 7.2rem;
        margin: 0 0 0 16rem;
        padding: ($base-space*4) $base-space ($base-space*3);
    }
    
    .page-content h2 {
        font-size: 4.8rem;
        margin: ($base-space*2) 0 ($base-space*1);
    }

}

/* ----------------------------------------------
** ----- Desktop and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 64em) {
    .layout {
       padding: 0 1rem;
    }
    
    .layout > div {
        padding: 0 1rem;
    }
}