#header {
    background-color: $w;
}

#menu {
    height: 8rem;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    text-align: center;
}

#menu.open {
    height: 19em;
}

#branding-outer {
    padding-top: 160px;
}

#branding {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%; 
    text-align: center;
}

.custom-brand {
    max-width: 120px;
    padding: 2rem 0;
    display: inline-block;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.custom-toggle .bar {
    background-color: $k;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 4.25rem;
    right: 1rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pure-menu-link {
    font-family: $main-font;
    font-weight: $main-font-bold;
    font-size: $nav-size;
    letter-spacing: $main-font-ls-open;
    text-transform: uppercase;
    color: $k;
    padding: .625em 1em;
    
    &:hover, &:active {
        color: $accent;
    }
}


/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {

    #branding-outer {
        padding-top: 0px;
    }
    
    #branding {
        position: static;
        text-align: left;
    }
    
    .custom-brand {
        position: absolute;
        z-index: 10;
    }
    
    .custom-toggle {
        display: none;
    }
    
    .pure-menu-horizontal {
        text-align: right;
        margin-top: 2rem;
    }
    
    .pure-menu-item:last-child a {
       padding-right: 0;
    }
    
    .pure-menu-link:hover, .pure-menu-link:active {
        background-color: transparent;
    }
}