/* Typography */
h2 {
    font-family: $accent-font;
    //font-weight: $accent-font-bold;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 4.8rem;
    line-height: 1;
    margin: 8rem 0;
}

.intro p {
    font-size: 2.4rem;
    line-height: 2;
}

a.more {
    font-family: $accent-font2;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    margin: 4rem 0 8rem;
    
    &:hover {
        color: $accent;
    }
}

/* Sections */
.intro {
    h2 {
        font-size: 7.2rem;
        color: $c;
    }
    
    a {
        color: $c;
    }
}



.projects {
    background-color: $m;
    text-align: center;
    margin-bottom: 4rem;
    
    h2 {
        color: $w;
    }
    
    a {
        color: $w;
    }
    
    a.featured {
        img {
            margin: 0 auto;                        
            -ms-transition: -ms-transform 0.5s;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            padding: 1rem 0;
        }
        
        &:hover img {
            -ms-transform: rotate(3deg) scale(1.05,1.05);
            -webkit-transform: rotate(3deg) scale(1.05,1.05);
            transform: rotate(3deg) scale(1.05,1.05);
        }
    }
    
    .middle a.featured:hover img {
        -ms-transform: rotate(-3deg) scale(1.05,1.05);
        -webkit-transform: rotate(-3deg) scale(1.05,1.05);
        transform: rotate(-3deg) scale(1.05,1.05);
    }
    
}

.contact {
    background-color: $light-gray;
    text-align: center;  
}