html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $main-font;
    font-weight: $main-font-normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $k;
}

.layout {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    //padding: 0 1rem; /* Desktop only */
}


.layout > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1rem;
}