html {
    font-size: 62.5%;
}

body, .pure-g [class*="pure-u"] {
    margin: 0;
    font-family: $main-font;
    font-weight: $main-font-normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $k;
}

/* Add gutters to grid system */
.layout {
    width: 100%;
    max-width: 92rem;
    margin: 0 auto;
}

.layout > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2rem;
}

/* Circle img with black moving background */
.circle-container {
    border-radius: 50%;
    max-width: 100%;
    background: $k;
    padding: 1rem;
}

.circle {
    border-radius: 50%;
    width: 100%;
}

/* ----------------------------------------------
** ----- Tablet and Up Styles ----- 
** ----------------------------------------------*/
@media screen and (min-width: 48em) {
    .layout {
       padding: 0 1rem;
    }
    
    .layout > div {
        padding: 0 1rem;
    }
}