footer#footer
    p.
        Madelynn Tuttle
        #[img#logo-footer(src='/wip/assets/images/mt-logo-footer.png' alt='MT Logo image')]
        Copyright 2016

script(src='/wip/assets/scripts/main.js')
