head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title UI/UX Designer & Web Consultant &mdash; Madelynn Tuttle
    // pure.css responsive grid for ie 8 added as a conditional
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/styles/old-ie.css">
    <![endif]-->
    link(href='/assets/styles/main.css', rel='stylesheet')
    // Fonts.com Avenier Next font
    link(href='//fast.fonts.net/cssapi/25d46fcf-158e-4d50-9851-aee033672aa3.css', rel='stylesheet')
    // Google's Pompiere font
    link(href='https://fonts.googleapis.com/css?family=Pompiere', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/assets/scripts/typed.js')
