doctype html
html
    include ../_includes/_head.pug
    body.projects.project-single.abc    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='#')
                            img.pure-img(src='/assets/images/mt-logo-2016.png')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link(href='#') About
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Portfolio
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Contact
                                
        main#main
            .page-header
                .page-title                    
                    .content
                        h1 ABC English School
                .content-container
                    .left
                        .wrapper
                            ul.services
                                li Services
                                li UX
                                li Web Design
                                li Front-End
                                li Strategy
                            ul.agency
                                li Agency
                                li Personal Client
                            ul.year
                                li Year
                                li 2015
                    .right
                        .wrapper
                            p ABC English School in Yoshikawa, Saitama, Japan has been providing English education for 18 years. Through daily, direct interaction with native English speakers, the students develop English fluency in all preschool subjects—math, social studies, science, art and cooking. The website's colorful and playful look and feel reflects ABC English School's philosophy to learn through fun and play. #[a.visit(href='http://www.abc-es.jp' target='_blank') Visit Website]
            .page-content
                .device
                    img.pure-img(src='/assets/images/device-abc.png')
                .screenshots.pure-g.layout
                    .homepage-desktop              
                        img.pure-img(src='/assets/images/homepage-desktop-abc.png')
                    .homepage-mobile
                        img.pure-img.tablet(src='/assets/images/homepage-mobile-abc.png')
                                
        #pre-footer
            .content-container
                a.more(href='https://www.behance.net/madelynntuttle') See More Projects on Behance
                    
        include ../_includes/_footer.pug
