doctype html
html
    include ../_includes/_head.pug
    body.projects.project-single.cepc    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='#')
                            img.pure-img(src='/assets/images/mt-logo-2016.png')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link(href='#') About
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Portfolio
                            li.pure-menu-item
                                a.pure-menu-link(href='#') Contact
                                
        main#main
            .page-header
                .page-title                    
                    .content
                        h1 Christ Episcopal Church
                .content-container
                    .left
                        .wrapper
                            ul.services
                                li Services
                                li UX
                                li Web Design
                                li Front-End
                                li Client Training
                            ul.agency
                                li Agency
                                li Brown Dog Creative
                            ul.year
                                li Year
                                li 2013
                    .right
                        .wrapper
                            p Christ Episcopal Church has been a mainstay of Christian faith throughout Northeast Florida for over 75 years. Their three campuses participate in joyful worship and provide service and educational opportunities to the community. Their previous website was complicated to update and users had difficultly finding the information they needed. Through an extensive site architecture overhaul and a new CMS these issue were resolved. The new website’s look and feel and usability welcome new and previous members with easy-to-access information. #[a.visit(href='http://www.christepiscopalchurch.org/' target='_blank') Visit Website]
            .page-content
                .device
                    img.pure-img(src='/assets/images/watermelon-me.png')
                .screenshots.pure-g.layout
                    .homepage-desktop              
                        img.pure-img(src='/assets/images/watermelon-me.png')
                    .homepage-mobile
                        img.pure-img(src='/assets/images/watermelon-me.png')
                                
        #pre-footer
            .content-container
                a.more(href='https://www.behance.net/madelynntuttle') See More Projects on Behance
                    
        include ../_includes/_footer.pug
