doctype html
html(lang="en")
    include ../_includes/_head.pug
    body.projects    
        header#header
            #menu.pure-g.layout
                #branding-outer.pure-u-1.pure-u-md-1-6
                    #branding.pure-menu
                        a.pure-menu-heading.custom-brand(href='/')
                            img.pure-img(src='/assets/images/mt-logo-2016.png' alt='Logo Image for M Tuttle')
                        a#toggle.custom-toggle(href='#')
                            s.bar
                            s.bar
                .pure-u-1.pure-u-md-5-6
                    .pure-menu.pure-menu-horizontal.custom-can-transform
                        ul.pure-menu-list
                            li.pure-menu-item
                                a.pure-menu-link(href='/about.html') About
                            li.pure-menu-item
                                a.pure-menu-link.pure-menu-selected(href='#') Work
                            li.pure-menu-item
                                a.pure-menu-link(href='/#contact') Contact
                                
        main#main
            .page-header
                .page-title                    
                    .content
                        h1 Selected Projects
                .content-container
                    .left
                        p Bringing the pieces together
                    .right
                        p In my 6 years of experience, I’ve worked with many different types of clients—from large, non-profits like the YMCA to small, local businesses like Studio Mutter. Yet my goal is always the same: create beautiful, purposful web solutions uniquly crafted for each client.
                     
            .page-content
                .projects-list.pure-g.layout
                    .projects-single
                        .pure-u-1.mobile
                            .circle-container
                                a.featured(href='/projects/ymca.html'): img.circle.pure-img(src='/assets/images/ymca-thumb.png' alt='YMCA thumbnail image')
                        .pure-u-1.pure-u-md-7-12.text
                            h2: a(href='/projects/ymca.html') YMCA of Florida's First Coast
                            p UX &ndash; Web Design &ndash; Developer Management
                        .pure-u-1.pure-u-md-5-12.img.tablet    
                            .circle-container
                                a.featured(href='/projects/ymca.html'): img.circle.pure-img(src='/assets/images/ymca-thumb.png' alt='YMCA thumbnail image')
                    .projects-single.middle
                        .pure-u-1.mobile
                            .circle-container
                                a.featured(href='/projects/christ-episcopal.html'): img.circle.pure-img(src='/assets/images/cepc-thumb.png' alt='CEPC thumbnail image')
                        .pure-u-1.pure-u-md-7-12.text
                            h2: a(href='/projects/christ-episcopal.html') Christ Episcopal Church
                            p UX &ndash; Web Design &ndash; Front-End &ndash; Client Training
                        .pure-u-1.pure-u-md-5-12.img.tablet    
                            .circle-container
                                a.featured(href='/projects/christ-episcopal.html'): img.circle.pure-img(src='/assets/images/cepc-thumb.png' alt='CEPC thumbnail image')
                    .projects-single
                        .pure-u-1.mobile
                            .circle-container
                                a.featured(href='/projects/abc-english-school.html'): img.circle.pure-img(src='/assets/images/abc-thumb.png' alt='ABC thumbnail image')
                        .pure-u-1.pure-u-md-7-12.text
                            h2: a(href='/projects/abc-english-school.html') ABC English School
                            p UX &ndash; Web Design &ndash; Front-End &ndash; Client Training &ndash; Strategy
                        .pure-u-1.pure-u-md-5-12.img.tablet    
                            .circle-container
                                a.featured(href='/projects/abc-english-school.html'): img.circle.pure-img(src='/assets/images/abc-thumb.png' alt='ABC thumbnail image')            
                                
        #pre-footer
            .content-container
                a.more(href='https://www.behance.net/madelynntuttle' target='_blank') See More Projects on Behance
                    
        include ../_includes/_footer.pug
